*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
height:100vh;
background:linear-gradient(135deg,#141e30,#243b55);
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

#splash{
position:fixed;
inset:0;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
animation:fade 3s forwards;
}

#splash h1{
color:white;
font-size:50px;
animation:zoom 2s infinite;
}

@keyframes zoom{
50%{
transform:scale(1.1);
}
}

@keyframes fade{
90%{opacity:1;}
100%{
opacity:0;
visibility:hidden;
}
}

.container{
background:rgba(255,255,255,.1);
backdrop-filter:blur(15px);
padding:30px;
width:90%;
max-width:450px;
border-radius:20px;
color:white;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:10px;
}

button{
margin-top:15px;
width:100%;
padding:15px;
border:none;
border-radius:10px;
cursor:pointer;
}

#createBtn{
background:#00c853;
color:white;
}

#deleteAll{
position:absolute;
top:15px;
right:15px;
width:auto;
padding:10px 20px;
background:red;
color:white;
}

#result{
margin-top:20px;
word-break:break-all;
}